body {
  background: #224345;
/*   color: #BEFF8A;
 */  position: relative;
}
.background { width: 100%; display: block; margin: 0 auto; }

#game-box {
  width: 1600px;
  height: 900px;
  overflow: hidden;
  background-color: black;
}

#gui_pg { z-index: 3; position: absolute; }
#dialog_pg { z-index: 2; position: absolute; }
#scene_pg { z-index: 1; position: absolute; }

/* =========== GUI ELEMENTS ================ */
#cursors {
  position: absolute;
  top: 810px;
  left: 720px;
  width: 159px;
  height: 90px;
  box-shadow: 0 0 15px 5px black;
  border-radius: 10px 10px 0 0;
  background-color: #666;
}
.examine_not_selected { height: inherit; }
.examine_selected { height: inherit; border-top-left-radius: 10px; background-color: #FFF; }
.use_not_selected {  height: inherit; }
.use_selected { height: inherit; border-top-right-radius: 10px; background-color: #FFF; }

#inventory {
  position: absolute;
  top: 450px;
  left: 1290px;
  width: 310px;
  height: 300px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 15px 5px black;
  background-color: grey;
}

.inv_div {
  height: 33%;
}

.inv_img {
  height: 100%;
  display: inline;
  margin: 0 auto;
}

#satchel {
  position: absolute;
  top: 810px;
  left: 1440px;
  width: 160px;
  height: 90px;
  box-shadow: 0 0 15px 5px black;
  border-top-left-radius: 10px;
  background-color: #666;
}

#current_item {
  position: absolute;
  top: 810px;
  width: 160px;
  height: 90px;
  box-shadow: 0 0 15px 5px black;
  border-top-right-radius: 10px;
  background-color: #666;
}

#gui-container {
  width: 1600px;
  height: 300px;
  position: absolute;
  bottom: -500px;
  overflow: hidden;
}


.modal-backdrop { z-index: -999999; }
.modal-content {
  text-align: center;
  width: 600px;
  max-height: 600px;
  background: black;
  /* font-size: 3em; */
}
