body {
  background: #224345;
  color: #BEFF8A;
  display: block;
  margin: 0 auto;
}

#game-box {
  width: 1600px;
  height: 900px;
  background-color: black;
}

.background {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#inventory {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 708px;
  left: 1000px;
  overflow: hidden;
  background-color: #799884;
}

#satchel {
  position: absolute;
  width: 250px;
  height: 192px;
  top: 1008px;
  left: 1150px;
  background-color: #666666;
}

#current_item {
  position: absolute;
  height: 192px;
  width: 250px;
  top: 1008px;
  background-color: #FFF;
}

#dialog {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 60%;
  height: 15%;
  background-color: #799248;
}
