<img src="IMG\Body_View.png" alt="Main Room" style='position: absolute' usemap="#scene_murder_scene" usemap="#scene_murder_scene" no-repeat>

<img src="IMG\knife_body.png" alt="Main Room" style='position: absolute' usemap="#scene_murder_scene" usemap="#scene_murder_scene" no-repeat>


<map name="#scene_murder_scene" id="#scene_murder_scene">
  <!-- back -->
    <area alt="" title="" href="#" shape="poly" coords="1071,39,1072,281,1533,275,1539,43" ui-sref="lights_on" />
  <!-- hand -->
    <area alt="" title="" href="#" shape="poly" coords="85,596,254,635,242,741,110,756,83,677"  data-toggle="modal" data-target="#keycard_hand"/>
  <!-- knife -->
    <area alt="" title="" href="#" shape="poly" coords="386,58,574,95,471,320,361,325" data-toggle="modal" data-target="#body_weapon"/>
  <!-- pocket -->
    <area alt="" title="" href="#" shape="poly" coords="828,356,917,357,1013,523,822,568,788,461" data-toggle="modal" data-target="#pocket"/>
</map>
