<div id='dialog'>

  <div class="modal fade" id="lunar_landing" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <img src="IMG/obj_knife.png" alt="">
        </div>
        <div class="modal-body message">

  We have an infinite amount to learn both from nature and from each other.  The dreams of yesterday are the hopes of today and the reality of tomorrow.  Here men from the planet Earth first set foot upon the Moon. July 1969 AD.

  We came in peace for all mankind.
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Leave Item</button>
          <button  class="btn btn-success"type="button" data-dismiss="modal">Keep Item</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="body_weapon" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <img src="IMG/obj_knife.png" alt="">
        </div>
        <div class="modal-body message">

          No pulse... He might be dead.

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Leave Item</button>
          <button  class="btn btn-success"type="button" ng-click="use_murder_weapon()" data-dismiss="modal">Keep Item</button>
        </div>
      </div>
    </div>
  </div>


  <!-- HATCH TO QUARTERS MESSAGE -->
  <div class="modal fade" id="hatch_quarters" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <img src="IMG/obj_keypad.gif" alt="Keypad to enter quarters.">
        </div>
        <div class="modal-body message">

          The living quarters.

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Leave</button>
          <button  class="btn btn-success"type="button" data-dismiss="modal">Enter</button>
        </div>
      </div>
    </div>
  </div>

</div> <!-- END DIALOG -->
