



<img src="/../IMG/hatch_8bit.png" alt="Main Room" usemap="#scene_hatch_wide">

<map name="scene_hatch_wide">
    <area href="#" ng-click="click('quarters')" alt="Hatch to Living Quarters" title="Hatch to sleeping quarters" shape="rect" coords="278,333,332,444" />
    <area href="#" ng-click="click('upperDeck')" alt="Hatch to upper level" title="Hatch to upper level." shape="rect" coords="299,210,416,231" />
    <area href="#" ng-click="click('pavel')" alt="Pavel is dead!" title="Pavel is dead!" shape="poly" coords="452,496,448,515,508,564,590,582,585,548" />
</map>
